
<h3 class="section-heading">Education</h3>
<section id="education">
  <div class="container">
      <div class="education-item" *ngFor="let edu of education">
        <div class="title">
          <p>{{edu.timeline}}</p>
          <strong>{{edu.certificationType}}</strong>
        </div>
        <div class="description">
          <h4>{{edu.certificationName}}</h4>
          <strong>{{edu.institution}}</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
        </div>
      </div>
  </div>
</section>
