
<h3 class="section-heading">Education</h3>
<section id="education">
  <div class="container">
      <div class="education-item" *ngFor="let edu of education">
        <div class="title">
          <p>{{edu.timeline}}</p>
          <div class="h5">{{edu.certificationType}}</div>
        </div>
        <div class="description">
          <div class="h5">{{edu.certificationName}}</div>
          <div class="h4">{{edu.institution}}</div>
          <p>{{edu.description}} </p>
        </div>
      </div>
  </div>
</section>
