
<h3 class="section-heading">Education</h3>
<section id="education">
  <div class="container">
      <div class="education-item">
        <div class="title">
          <h4>Master of Information Technology</h4>
          <p><strong>University of Computer Science</strong> - 2016 - 2018</p>
        </div>
        <div class="description">
          <p>Description of education and achievements.</p>
        </div>
      </div>
      <div class="education-item">
        <div class="title">
          <h4>Master of Information Technology</h4>
          <p><strong>University of Computer Science</strong> - 2016 - 2018</p>
        </div>
        <div class="description">
          <p>Description of education and achievements.</p>
        </div>
      </div>
      <div class="education-item">
        <div class="title">
          <h4>Master of Information Technology</h4>
          <p><strong>University of Computer Science</strong> - 2016 - 2018</p>
        </div>
        <div class="description">
          <p>Description of education and achievements.</p>
        </div>
      </div>
  </div>
</section>
