<div class="container" id="resume">
    <div class="header">
      <h1>Melisa Ebanks-Johnson</h1>
      <h2>Full Stack Developer</h2>
    </div>
    <div class="contact-info">
      <div>Email: <span>enquiry@humber.ca</span></div>
      <div>Phone: <span>+1-416-675-3111</span></div>
      <div>LinkedIn: <span>linkedin.com/in//melisa-ebanks-johnson</span></div>
      <div>GitHub: <span>github.com/melisaebanks</span></div>
    </div>
    <div class="section">
        <h2>Professional Summary</h2>
        <p>Experienced Full Stack Developer with a strong background in developing web applications using modern technologies. Proficient in both front-end and back-end development, with a keen eye for detail and a passion for creating seamless user experiences.</p>
    </div>
    <div class="section">
        <h2>Skills</h2>
        <ul class="skills">
          <li>JavaScript</li>
          <li>Angular</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>C#</li>
          <li>.NET</li>
          <li>SQL</li>
        </ul>
    </div>
    <div class="section">
        <h2>Experience</h2>
        <ul>
            <li>
                <h3>Full Stack Developer</h3>
                <p>ABC Corp - January 2020 to Present</p>
                <ul>
                    <li>Developed and maintained web applications using Angular.</li>
                    <li>Collaborated with the design team to create user-friendly interfaces.</li>
                    <li>Implemented RESTful APIs and integrated third-party services.</li>
                </ul>
            </li>
            <li>
                <h3>Software Developer</h3>
                <p>XYZ Ltd - June 2017 to December 2019</p>
                <ul>
                    <li>Worked on various web development projects using .NET.</li>
                    <li>Optimized application performance and enhanced security measures.</li>
                    <li>Conducted code reviews and provided mentorship to junior developers.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="section">
        <h2>Education</h2>
        <ul>
            <li>
                <h3>Bachelor of Science in Computing and Information Technology</h3>
                <p>University of Technology - 2007 to 2012</p>
            </li>
        </ul>
    </div>
    <div class="section">
        <h2>Certifications</h2>
        <ul>
            <li>Certified JavaScript Developer</li>
            <li>Microsoft Certified: Microsoft Certified Professional</li>
        </ul>
    </div>
</div>

