
<h3 class="section-heading">Work Experience</h3>
<section id="experience">
  <div class="container">
      <div class="experience-item">
        <div class="title">
          <p> March 2020 - Present</p>
          <strong>CREATIVEIM</strong>
        </div>
         <div class="description">
          <h4>Front End Developer</h4>
           <p>Description of work and responsibilities.</p>
         </div>
      </div>
      <div class="experience-item">
        <div class="title">
          <p>March 2020 - Present</p>
          <strong>CREATIVEIM</strong>
        </div>
         <div class="description">
          <h4>Front End Developer</h4>
           <p>Description of work and responsibilities.</p>
         </div>
      </div>
      <div class="experience-item">
        <div class="title">
          <p>March 2020 - Present</p>
          <strong>CREATIVEIM</strong>
        </div>
         <div class="description">
          <h4>Front End Developer</h4>
           <p>Description of work and responsibilities.</p>
         </div>
      </div>
  </div>
</section>
