<h3 style="text-align: center;">Professional Skills</h3>
<section id="skills">
  <div class="container">

      <div class="skill-bars">
          <div class="skill" *ngFor="let skill of skills">
              <div id="percentage-div"><span id="percentage-name">{{skill.name}} </span><span id="percentage-value">{{skill.percentage}}</span></div><br>
              <div class="bar">
                  <div class="percentage" [style]="skill.style"></div>
              </div>
          </div>
      </div>
  </div>
  <br/>
</section>
