<h3 style="text-align: center;">Professional Skills</h3>
<section id="skills">
  <div class="container">

      <div class="skill-bars">
          <div class="skill" *ngFor="let skill of skills">
              <div style="width:100%; padding-bottom:10px; color:#378c3f;"><span style="float: left;">{{skill.name}} </span><span style="float: right;">{{skill.percentage}}</span></div><br>
              <div class="bar">
                  <div class="percentage" [style]="skill.percentage"></div>
              </div>
          </div>
      </div>
  </div>
</section>
