.carousel-container {
  /* position: relative;
  max-width: 600px;
  margin: auto; */
  overflow: hidden;
}

.carousel-slide {
  display: none;
  width: 100%;
  transition: transform 0.5s ease;
}
.ref-active{
display: block;
}
.carousel-slide.active {
  display: block;
}



button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



h3 {
  margin: 0;
}

