/* styles.css */

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  color: #333;
}

header {
  background: url("assets/Designer.png") no-repeat center center/cover;
  height: 550px;
  color: white;
  text-align: center;
  position: relative;
}

header a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width:80%;
  margin-left: 10%;
  text-transform: capitalize;
}

nav .left-nav {
  margin-left: 20px;
}

nav .right-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

nav .right-nav li {
  display: inline;
  margin: 0 15px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid white;
}

.header-content h1 {
  font-size: 36px;
  margin: 20px 0 10px;
}

.header-content h2 {
  font-size: 20px;
  margin: 0 0 20px;
}

.contact-buttons button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.social-links {
  margin-top: 95px;
  margin-left: 100px;
  position: absolute;
  text-align: center;
}

.social-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

section {
 /* padding: 10px 0;*/
  margin-bottom: 100px;
  margin-top: 60px;margin-bottom: 100px;
}

.container {
  /* width: 80%; */
  padding-left: 20px;
  margin: 0 auto;
  overflow: hidden;
}

#about, #skills{
  background: white;
  /*padding: 20px;*/
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;margin-bottom: 100px;
}

#references{
  background: white;
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;margin-bottom: 100px;
}

#skills{
    padding-left:5px;
    padding-right:5px;
    padding-top:15px;
    padding-bottom:15px;
}

#portfolio, #education, #experience{
  margin: 20px 0;
  width: 80%;
  margin-left: 10%;margin-bottom: 100px;
}

#contact{
  background: url("assets/Designer.png") no-repeat center center/cover;
  padding-top:75px;
}

#contact-container{
  background: white;
  padding:20px;
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;margin-bottom: 100px;
  min-height: 400px;;
}

#contact form input{
  width: 60%;
  margin: 0 auto;
  margin-top:10px;
  border: none;
  border:solid 1px #ccc;
  border-radius: 10px;
}
h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-content {
  width: 45%;
  float: left;
  /* padding: 10px; */
}

.basic-info {
  width: 45%;
  float: right;
  padding-right: 50px;
  /* padding: 10px; */
}

.basic-info ul {
  list-style: none;
  padding: 0;
}

.basic-info ul li {
  margin: 10px 0;
}

.skill-bars {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 48%;
  margin: 1%;
}

.skill p {
  margin: 0 0 10px;
}

.bar {
  background: #b3d1b3;
  /* border-radius: 5px; */
  overflow: hidden;
}

.bar .percentage {
  display: block;
  height: 5px;
  background: #378c3f;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin:auto;
}

.portfolio-grid img {
  width: 48%;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.reference-item {
  background: white;
  width:98%;
  margin: 20px 0;
  border-radius: 1px;
  margin-bottom: 50px;
  height:150px;
  padding:0;
  margin-left:-50px;
  width:auto;
  display:none;
}
.reference-person{
  float:left;
  width: 200px;
  height:auto;
  text-align: center;
  padding:0 20px;
}
.reference-description{
background-color: #fff;
}

.reference-nav-item{
  height:3px;
  width:20px;
  margin-right:10px;
  margin-top:-50px;
  background-color: #9a9a9a;
}

.reference-navigation{
}
.nav-active{

  background-color: #378c3f;
}
.experience-item, .education-item {
  background: white;
  width:95%;
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  margin-bottom: 25px;
  height:185px;
  padding:0;

}

.experience-item h4, .education-item h4, .reference-item p {
  margin: 0 0 10px;
}

.experience-item .title, .education-item .title
{
  float:left;
  width: 200px;
  height:145px;
  background-color: #378c3f;
  color:#fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.experience-item .description, .education-item .description  {
  float:left;
  height:110px;
  padding: 20px;
}
#contact form {
  width: 44%;
  float: left;
  padding-right:6%;
}

#contact form input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#contact form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-info {
  width: 40%;
  float: right;
}

.contact-info p {
  margin: 10px 0;
}

.reference-item img{
  width: 80px;
  height: 80px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #333;
  color: white;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

.portfolio-icon {
  width: 50px;
  height: 50px;
  background: #f4f4f4;
  color: #9a9a9a;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-link:visited, .icon-link:link{
  color: #9a9a9a;
}

.active{
  background: #378c3f;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.active a:visited, .active a:link{
  color:#fff;
}

.section-heading{
  text-align:center;
}
