
<div style="display: flex;justify-content: center;align-items: center; text-align: center;">
  <div class="portfolio-icon" [ngClass]="{'active':activeClass==='front'}"><a (click)="selectedPortfolio('front')" class="icon-link" ><i style="padding-top:15px;" class="fa fa-laptop"></i></a></div>
  <div class="portfolio-icon" [ngClass]="{'active':activeClass==='back'}" ><a (click)="selectedPortfolio('back')" class="icon-link" ><i style=" padding-top:15px;" class="fa fa-folder"></i></a></div>
  <div class="portfolio-icon" [ngClass]="{'active':activeClass==='database'}" ><a (click)="selectedPortfolio('database')" class="icon-link" ><i style="padding-top:15px;" class="fa fa-database"></i></a></div>
</div>



